<style>
  .header_link {
    padding-right: 40px;
    float: right;
  }
  .header {
    height: 62px;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #d6dfea;
    background: #eff4fa;
  }
</style>
<div class="header">
  <div class="header_link">
    <%= link_to '首页', root_path %>&nbsp;|&nbsp;
    <%= link_to '个人信息', current_user %>&nbsp;|&nbsp;
    <% if current_user.present? %>
        <%= link_to '退出', logout_path %>
    <% else %>
        <%= link_to '登录', login_path  %>
    <% end %>
  </div>
</div>
